<h2>New Attendee</h2>
<h3>Enter ATTENDEE Barcode below to continue.</h3>

<%= form_tag attendees_path do %>
    <div class="field">
        <%= render 'tags/attendee/barcode' %>
        <%= render 'tags/buttons/next_step' %>
    </div>
<% end %>
<br/>
<h3>or</h3>

<h3>Click <%= link_to 'here', attendees_path %> to view all attendees.</h3>

