<table style='width:100%;'>
	<% @sections.each_with_index do |section, index| %>
		<tr <%= index.even? ? 'class=oddRow' : nil %>>
			<td><%= section.name %></td>
			<td>Games: <%= section_game_count(section) %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'New Section', new_section_path %>
