<h2>Return</h2>
<h3>Enter ATTENDEE Barcode below to continue.</h3>

<%= form_tag returns_attendee_path do %>
    <div class="field">
        <%= render 'tags/attendee/barcode' %>
        <%= render 'tags/buttons/next_step' %>
    </div>
<% end %>
