<h2>Return</h2>

<table id='return_form'>
	<tr>
		<td>
			<%= text_field_tag :r_a_id, nil, { autocomplete: "off", placeholder: 'Attendee Barcode', autoFocus: true } %>
			<%= submit_tag 'x', { id: 'r_x_atte', class: 'invis' } %>
			<span id='a_label'></span>
			</td>
		</tr>
	</table>
<table id='results'>
	</table>