<h2>Return</h2>
<h3>Enter ATTENDEE Barcode below to continue.</h3>

<%= render 'layouts/progress_bar' %>

<%= form_tag returns_attendee_path do %>
    <div class="field">
        <%= text_field_tag :a_id, params[:a_id] %>
        <%= submit_tag "return - next step" %>
    </div>
<% end %>
