<h2>Checkout</h2>
<h3>Enter GAME Barcode below to continue.</h3>

<%= form_tag checkouts_game_path do %>
    <div class="field">
        <%= render 'tags/game/barcode' %>
        <%= render 'tags/buttons/next_step' %>
    </div>
<% end %>
