<h2>Checkout</h2>
<h3>Enter GAME Barcode below to continue.</h3>

<%= form_tag checkouts_game_path do %>
    <div class="field">
        <%= text_field_tag :g_id, session[:g_id] %>
        <%= submit_tag "checkout - next step" %>
    </div>
<% end %>
