body{
    background-color:#000;
    font-size:12px;
    color:#FFF;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    width:960px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
}

.footer{
    border-top:thin solid #000;
    font-size:9px;
}
nav{
    clear:both;
}

.header li a.current{
    background-color:#FFF;
    color: #000;
}

.header .right-span{
    text-align:right; 
    float:right;
}

.header .left-span{
    float:left;
}

.header{
    width:100%;
    height:270px;
    a{
        display:block;
    }
    ul{
        clear:both;
        height:20px;
        padding: 10px 0px 0px 0px;
        li{
            list-style-type:none;
            width:25%;
            float:left;
            display:block;
            text-align:center;
            a{
                height:auto;
                width:100%;
                border:1px solid #FFF;
                text-decoration:none;
                color:#FFF;
                &:hover{
                    background-color:#FFF;
                    color:#000;
                }
            }
        }
    }
}

.barspan{
    width:50%;
    float:right;
}

.barwrap{
    border: 1px solid #FFF;
    height:15px;
    width:100%;
    text-align:center;
    color:#FFF;
}

.bar{
    height:15px;
    width:0%;
}

.alert{
  color:#FF0000;
}

input{
  &[type='text']{
    //display:block;
  }
}
