<span class='barspan'>
<%= progress_percent %>% complete
<div class="barwrap"><div class="bar" style='width:<%= progress_percent %>%;background-color:<%= progress_percent >= 100 ? '#01DF3A':'#6E6E6E' %>;'></div></div>
</span>